/* VARIABLES */
:root {
  font-size: 62.5%;
  --section-padding: 10rem 0;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-size-xsmall: 1.6rem;
  --font-size-small: 1.8rem;
  --font-size-medium: 2.1rem;
  --font-size-md-lg: 2.4rem;
  --font-size-lg-xl: 3rem;
  --font-size-large: 3.6rem;
  --font-size-xlarge: 9rem;
  --container: 112rem;
  --min-heigh-hero: 66rem;
  --clr-brown: #a59678;
  --clr-dark-blue: #2e323f;
  --clr-light-blue: #3b4050;
  --clr-light-gray: #6f737f;
  --clr-white: #ffffff;
}
/* CSS Reset */
html {
  box-sizing: border-box;
  font-family: var(--font-family-montserrat);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* UTILITY CLASSES */
.container {
  width: 80%;
  max-width: var(--container);
  margin: 0 auto;
}
.full-bg {
  background-color: var(--clr-dark-blue);
  padding: 1.5rem;
}
.nav-toggle {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
/* MOBILE NAVIGATION */
.header__mobile-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.header__navigation-hamburger {
  position: relative;
  width: 2.5rem;
  height: 4px;
  background-color: rgb(212, 191, 191);
}
.header__navigation-hamburger::before {
  content: "";
  width: 2.5rem;
  height: 4px;
  background-color: rgb(212, 191, 191);
  position: absolute;
  top: -1rem;
}
.header__navigation-hamburger::after {
  content: "";
  width: 2.5rem;
  height: 4px;
  background-color: rgb(212, 191, 191);
  position: absolute;
  top: 1rem;
}
.header__navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header__navigation ul li {
  text-align: center;
  margin-bottom: 1rem;
}
.header__navigation ul li a {
  display: inline-block;
  color: var(--clr-white);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-small);
  transition: all 0.3s ease-in-out;
}
.header__navigation ul li a:hover {
  color: var(--clr-brown);
}
.header__navigation-link-active {
  background-color: var(--clr-brown);
  border-radius: 10px 30px;
  padding: 0.7rem 1.2rem;
  border: 2px solid transparent;
}
.header__navigation-link-active:hover {
  border: 2px solid #fff;
  color: #fff !important;
}
/* Hero Section */
.full-bg-1 {
  background-color: var(--clr-light-blue);
}
.hero__section {
  padding: 5rem 0;
  font-family: var(--font-family-oswald);
}
.hero__section-header {
  font-size: var(--font-size-large);
  color: var(--clr-white);
  text-align: center;
  margin-bottom: 2rem;
}
.hero__section-header span {
  color: var(--clr-brown);
}
.hero__section-content {
  text-align: center;
}
.hero__section-content p {
  font-family: var(--font-family-montserrat);
  color: var(--clr-white);
  margin-bottom: 2.5rem;
  font-size: var(--font-size-xsmall);
  line-height: 1.5;
}
.hero__section-content button {
  cursor: pointer;
  padding: 1rem 2rem;
  color: var(--clr-white);
  background-color: var(--clr-brown);
  border-radius: 10px 40px;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-small);
  transition: all 0.3s ease-in-out;
}
.hero__section-content button:hover {
  transform: scale(1.05);
  border: 2px solid white;
}
/* Highlights Section */
.full-bg-2 {
  background-color: #f1f1f1;
}
.highlights {
  padding: 5rem 0;
}
.highlights__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}
.highlights__cards-card h2 {
  color: var(--clr-brown);
  font-family: var(--font-family-oswald);
  margin-bottom: 1.2rem;
  font-size: var(--font-size-md-lg);
}
.highlights__cards-card p {
  line-height: 1.5;
  font-size: 1.4rem;
}

/* FEATURES SECTION */

.features__content h2 {
  font-family: var(--font-family-oswald);
  color: var(--clr-brown);
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: var(--font-size-md-lg);
}
.features__content p {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xsmall);
  margin-bottom: 2rem;
}
.features__content p:last-child {
  margin-top: 2rem;
}
.features__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}
.features__cards-card {
  background-color: var(--clr-light-blue);
  padding: 2rem;
  color: var(--clr-white);
}
.features__cards-card h2 {
  font-family: var(--font-family-oswald);
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: var(--font-size-medium);
}
.features__cards-card p {
  line-height: 1.5;
  font-size: var(--font-size-xsmall);
  margin-bottom: 1rem;
}

/* FOOTER SECTION */
.full-bg-3 {
  background-color: var(--clr-light-blue);
}
.footer {
  padding: 5rem 0;
}
.footer__header {
  color: #fff;
  text-align: center;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-oswald);
  margin-bottom: 2rem;
}

.footer__flex-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.about h3 {
  font-family: var(--font-family-oswald);
  color: var(--clr-brown);
  font-size: var(--font-size-xsmall);
  margin-bottom: 1rem;
}
.about p {
  color: #9fa2ab;
  font-size: 1.2rem;
  line-height: 1.5;
}

.getting-around h3 {
  font-family: var(--font-family-oswald);
  color: var(--clr-brown);
  font-size: var(--font-size-xsmall);
  margin-bottom: 1rem;
}
.getting-around ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.getting-around ul li a {
  text-decoration: none;
  color: #9fa2ab;
  font-size: 1.2rem;
}
.other-things h3 {
  font-family: var(--font-family-oswald);
  color: var(--clr-brown);
  font-size: var(--font-size-xsmall);
  margin-bottom: 1rem;
}
.other-things ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.other-things ul li a {
  text-decoration: none;
  color: #9fa2ab;
  font-size: 1.2rem;
}
.and-more h3 {
  font-family: var(--font-family-oswald);
  color: var(--clr-brown);
  font-size: var(--font-size-xsmall);
  margin-bottom: 1rem;
}
.and-more ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.and-more ul li a {
  text-decoration: none;
  color: #9fa2ab;
  font-size: 1.2rem;
}
